* {
    margin: 0; padding: 0;
    box-sizing: border-box;

}

#board, #turn, #log, #player-one, #player-two {
    margin: 20px auto;
    border: 2px solid black;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#board > button {
    width: 95%;
    height: 95%;
    font-size: 5rem;
    border: 1px dashed red;
    text-align: center;
}

.start {
    display: block;
    margin: 10px auto;
}